* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.conteiner {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

html {
  font-family: "roboto", sans-serif;
}

body {
  background-color: #e5e5e5;
}

.clear-fix {
  display: block;
  clear: both;
}

.text_1 {
  width: 200px;
  height: 75px;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #ffffff;
  margin-top: 63px;
}
.text_2 {
  width: 100px;
  height: 37.5px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  margin-top: 31px;
}

.block_1 {
  width: 1100px;
  background: #c4c4c4;
  padding: 50px;
  margin-top: 100px;
}

.block_gray {
  width: 100%;
  background: #e6e6e6;
}

.block_gray:after {
  content: "";
  display: table;
  clear: both;
}

.block_1:after {
  content: "";
  display: table;
  clear: both;
}

.block_gray,
.block_pink_large,
.block_pink_small {
  float: left;
}

.block_gray_primary {
  margin: 50px 0;
}

.block_pink_large {
  width: 200px;
  height: 200px;
  background: #fc8f8f;
}

.secondary {
  margin-left: 700px;
}

.block_pink_small {
  width: 100px;
  height: 100px;
  background: #fc8f8f;
}

.specialy {
  margin: 0 7.5px 0 15px;
}

.specialy2 {
  margin: 0 15px 0 7.5px;
}

.revant {
  margin-right: 455px;
}

.aff {
  margin-right: 15px;
}

.add {
  margin-right: 270px;
}
